header .row,footer .row {
  display: flex;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: flex-end;
  padding:20px 20px;
}

header {
  padding: 20px 0;
  
}

header a {
  padding: 0 20px;
  margin: 0;
  font-weight:300;
	
}

header h1 {
  font-weight: 700;
  margin: 0;
}
a:hover, a:active{
  text-decoration:none;
  color:#993300;
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#993300;
}

p .about{
	font-size:12px;
}

.img-circle{
	display: block;
   
    border-radius:500px;
}

.img-profile{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-work{
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
.profile{
	text-align:center;
}

.skills{
	text-align:center;
}

.work{
	text-align:center;
}
.img-skills{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.col-md-6 {
  margin: 0 0 30px;
}

.col-md-8 {
  margin: 0 0 30px;
}
.img-edu{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.mail{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.phone{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.edu{
	text-align:center;
}

.table{
	padding:8px;
	
}

.contact{
	text-align:center;
}

footer {
  font-size: 12px;
  padding: 20px 0;
 
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}
.container1
{
	 background-color:#f2f2f2;
  width:100%;
	
}

/*styling css code from w3schools.com */

.container2 {
    position: relative;
    width: 50%;
}

.container3 {
    position: relative;
    width: 50%;
}

.container4 {
    position: relative;
    width: 50%;
}

.books {
  opacity: 1;
  display: block;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:auto;
}

.game {
  opacity: 1;
  display: block;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:auto;
}

.music {
  opacity: 1;
  display: block;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  height:auto;
}

.write {
  opacity: 1;
  display: block;
  width: 90px;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 150px;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container2:hover .books {
  opacity: 0.3;
}

.container3:hover .game {
  opacity: 0.3;
}

.container4:hover .music {
  opacity: 0.3;
}

.container5:hover .write {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

.container3:hover .middle {
  opacity: 1;
}

.container4:hover .middle {
  opacity: 1;
}

.container5:hover .middle {
  opacity: 1;
}
.text {
  background-color:#f2f2f2;  
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.hobbies
{
	text-align:center;
}

.c1{
	text-align:center;
}
/* animation code from w3schools.com */
div .img-circle {
    width: 300px;
    height: 300px;
    background-color: #f2f2f2;
    position: relative;
    -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}


/* Safari 4.0 - 8.0 */
#pic {-webkit-animation-timing-function: linear;}


/* Standard syntax */
#pic {animation-timing-function: linear;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 600px;}
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}